<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        
        <h1>if condition</h1>
        {% if a > b %}
            <h2>i am in if block</h2>
            <h2>{{a}}</h2>
        {% endif %}
        
    
    <h1>if else condition </h1>
    {% if a < b %}
        <h2>i am in if block </h2>
        <h2>{{a}}</h2>
    {% else %}
        <h2>i am in else block </h2>
        <h2>{{b}}</h2>
    {% endif %}

    
    <h1>if elif condition </h1>
    {% if a < b %}
        <h2>b is max</h2>
        <h1>{{b}}</h1>
    {% elif a < c %}
        <h2>c is max</h2>
        <h2>{{c}}</h2>
    {% elif b > c %}
        <h2>b is max</h2>
        <h2>{{b}}</h2>
    {% else %}
        <h2>a is max</h2>
        <h2>{{a}}</h2>
    {% endif %}
        
    <h1>nested if</h1>
    {%if a > b %}
        {% if a > c %}
        <h2>a is max</h2>
        <h1>{{a}}</h1>
        {% else %}
        <h2>c is max</h2>
        <h2>{{c}}</h2>
        {% endif %}
    {% else %}
        {% if b > c %}
        <h2>b is max</h2>
        <h2>{{b}}</h2>
        {% else %}
        <h2>c is max</h2>
        <h2>{{c}}</h2>
        {% endif %}
    {% endif %}


    </center>
    
</body>
</html>